<section id="posiciones">
    <div class="torneo">
        <div class="logoTorneo">
        </div>
        <h2>torneo soccer 2023</h2>
    </div>
    <div class="tablaPosiciones">
        <table>
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>logo</th>
                    <th>equipo</th>
                    <th>PJ</th>
                    <th>+/-</th>
                    <th>PTS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td class="logo"></td>
                    <td>fenix</td>
                    <td>3</td>
                    <td>5</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="logo"></td>
                    <td>galaticas</td>
                    <td>3</td>
                    <td>2</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="logo"></td>
                    <td>vengadoras</td>
                    <td>3</td>
                    <td>1</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>