<section id="posiciones">
    <div class="torneo">
        <div class="logoTorneo">
        </div>
        <h2>torneo soccer 2023</h2>
    </div>
    <div class="tablaPosiciones">
        <table>
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Logo</th>
                    <th>Equipo</th>
                    <th>PJ</th>
                    <th>+/-</th>
                    <th>PTS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let equipo of equipos">
                    <td>{{equipo.PS}}</td>
                    <td class="logo"></td>
                    <td>{{equipo.equipo}}</td>
                    <td>{{equipo.PJ}}</td>
                    <td>{{equipo.DG}}</td>
                    <td>{{equipo.PTS}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>