<div class="nav">
    <input type="checkbox" id="check">
    <div class="nav-header">
        <div class="nav-title">
            Torneos 
        </div>
    </div>
    <div class="nav-btn">
        <label for="check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>  
    <div class="nav-links">
        <a href="#ver"><label for="check">prosimos</label></a>
        <a href="#ver2"><label for="check">Anteriores</label></a>
        <a href="#"><label for="check">Posiciones</label></a>
        <a href="#"><label for="check">Contacto</label></a>
        <div class="modo">
            <div class="oscuro ver">
                <img src="../../../assets/modoOscuro.png" alt="darkMode">
            </div>
            <div class="luz">
                <img src="../../../assets/modoLuz.png" alt="ligthMode">
            </div>
        </div>
    </div>
</div>
