.nav{
    height: 3rem;
    width: 100%;
    background-color: gray;
    position:fixed;
    box-shadow: 0 0 10px black;
    z-index: 1;
}
.nav-header{
    display: inline;
}
.nav-title{
    display: inline-block;
    font-size: 23px;
    color: #fff;
    padding: 10px;
    text-shadow: 2px 2px 2px black;
}
.nav-btn{
    display: none;
}
.nav-links{
    display: inline;
    float: right;
    font-size: 18px;
    a{
        display: inline-block;
        padding: 13px 10px;
        color: #efefef;
        transition: all 500ms ease;
        cursor: pointer;
    }
    a:hover{
        background-color: rgba(0, 0, 0, 0.3);
        transform: scale(1.1);
        cursor: pointer;
    }
}
#check{
    display: none;
}

@media screen and (max-width:768px) {
    .nav-btn{
        display: inline-block;
        position: absolute;
        right: 0;
        top:0;
    }
    label{
        display: inline-block;
        width: 50px;
        height: 3rem;
        padding: 13px;
        span{
            display: block;
            width: 25px;
            height: 10px;
            border-top: 2px solid;
            border-top-color: white;
        }
    }
    
    .nav-links{
        position: absolute;
        display: block;
        width: 40%;
        height: 0;
        top: 50px;
        left: 0;
        transition: all 0.3s ease-in;
        background-color: #333;
        overflow-y: hidden;
        a{
            display: block;
            width: 100%;
        }
    }
    #check:not(:checked) ~ .nav-links{
        height: 0;
    }
    #check:checked ~ .nav-links{
        height: calc(100vh - 3rem);
        overflow-y: auto;
    }
}
